<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your Email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field cannot be blank</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Invalid Email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your Password" ngModel name="password" required>
      <mat-error *ngIf="emailInput.hasError('required')">Password Required</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Log In</button>
  </form>
</section>

